form{
	margin-bottom: 80px;
	margin-top: 30px;
}

table{
	margin:auto;
	width: 60%;
}

#imgback{
	width: 50px;
	height:50px;
	margin: 10px auto;
	background-size: 45px 45px;
}

#resultados{
	background: #303030;
	border:none;
	border-top: 5px solid #ff0056;
	color:#ffffff;
	font-size: 40px;
	padding: 10px 10px;
	text-align: right;
	width: 100%;
}

#pantalla{
	background: #303030;
	border:none;
	border-top: 2px solid #5A5A5A;
	color: #AAA;
	font-size: 70px;
	padding: 10px 10px;
	text-align: right;
	width: 100%;
}

table input{
	background: #303030;
	border: none;
	color: #AAA;
	cursor: pointer;
	font-size: 50px;
	margin: 0;
	transition:all ease 0.5s;
	width: 100%;
}
input:hover{
	background: #3D3D3D;
}

table #igual:active{
	background: #324600;
	box-shadow: inset 0px 0px 30px #1C1C1C;
	transition: all ease-in 0.2s;
}
table .tipo:active {
	box-shadow: inset 0px 0px 30px #1c1c1c;
    transition: all ease-in 0.1s;
    background: #303030;
}
#igual{
	background: #ff0056;
	color: #FFF;
}
#acerca a{
	font-size: 35px;
	font-family: arial;
	color:#aaa;
	text-decoration: none;
}
#acerca{
	background: #303030;
	transition:all ease-in 0.1s;
}
#acerca:hover{
	background: #3D3D3D;
	transition:all ease-in 0.1s;
}
#igual:hover{
	background: #86002d;
}

table .numero{
	color: #FFF;
	background: #4C4C4C;

}